body {
  background: #FFFFFF;
}
h1 {
  text-align: center;
}
.caixa1 {
    position: absolute;
    background: #4a3583;
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 0;
}

.caixa2 {
    position: absolute;
    background: rgb(118, 51, 150);
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 205px;
    bottom: 0;
}

.caixa3 {
    position: absolute;
    background: rgb(57, 7, 138);
    color: #FFFFFF;
    width: 200px;
    height: 200px;
    right: 0;
    bottom: 205px;
}
.menuPrincipal {
   position: relative;
   background: rgb(141, 77, 177);
   width: 100%;
   height: 45px;
   top: 0;
   color: rgb(255, 255, 255);
}
nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
li a:hover {
  background: rgb(160, 137, 213);
  color: rgb(255, 255, 255); 
}
#aviao.png {
  width: 20%;
}
.caixaAviao {
  position: absolute;
  top: 50px;
  left: 0;
  width: 90%;
  height: 150px;
  background:rgb(233, 233, 224);
  margin: 20px;
  border-color: rgb(90, 41, 159);
  border-width: 20px;
  border-style: solid;
  padding: 20px;
}